version: '3.8'
services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    privileged: true
    user: root
    ports:
      - 8080:8080     # Cổng web
      - 50000:50000   # Cổng để Server Test kết nối vào (QUAN TRỌNG)
    volumes:
      - ./jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    #tài khoản admin